@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Inter", system-ui, sans-serif;
  }
  code, pre, .font-mono {
    font-family: "JetBrains Mono", monospace;
  }
}
